/* 文字色変更css */
.foco {
	color : #BDBDBD;
}

/* 横線(--------) */
._line {
	border-bottom: 2px outset #dee7ec;
	padding : 0 0 0 0
}

/* h1をカスタムする */
.h1custom {
	color : #D8D8D8;
	font-size : 12em;
	text-align: center;
	padding : 0 15px;
}

/* morecontact専用h1カスタム */
.h1custom_more {
	color : #D8D8D8;
	font-size : 8em;
	text-align: center;
	padding : 0 15px;
}

/* h2をカスタムする */
.h2custom {
	color : #D8D8D8;
	font-size : 4em;
	text-align: center;
}

/* pタグのカスタム */
.custom_p {
	color : #D8D8D8;
	text-align : left;
	font-size : 2em;
}

/* 以下3つTwitterボタン関連 */
.tw-follow-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 66px;
	height: 20px;
	color: #fff;
	font-size: 10px;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	text-decoration: none;
	line-height: 1;
	background-color: #1b95e0;
	border-radius: 3px;
	letter-spacing: normal;
	display:inline;
}
.tw-follow-btn:hover {
	background-color: #0c7abf;
}

.tw-follow-btn:before {
	content: '\f099';
	padding-right: 5px;
	width: 1em;
	height: auto;
	font-family: FontAwesome;
}

/* コンタクト追加のTwitter以外 */
.morecontact {
	color : #2E64FE;
	font-size : 3em;
	text-decoration: none;
}

/* .morecontactの中央寄せ */
.morecontactcenter {
	display:inline-block;
	text-align:center;
	width:100%;
}

/* 以下2つ自己紹介ページ画像関連 */
.utahiro_box {
	width: 450px;
	height: 450px;
	position: relative;
	overflow: hidden;
	border-radius: 300px;
	margin: 20px 250px 20px 250px
}

.utahiro_image {
	width: 800px;
	height: 800px:
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-25%, -25%);
}
