/*.cter {
    width : 1170px;
    padding : 0 15px;
    margin :0 auto;
}*/

.Topwallpaper {
    padding: 180px 0 100px 0;
    background-image: url("https://github.com/team-grox/official-site/blob/master/src/img/51715833-9983-4839-9107-425AA3EA889D.png");
    background-size : cover ;
}

._line {
    border-bottom: 2px solid #dee7ec;
}
